<div class="row">
  <div class="col-xs-8 col-xs-offset-2">

    <h2>Log in</h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <%= f.input :login, autofocus: true, label: 'Логин' %>


      <div class="field">
        <%= f.input :password, autocomplete: "off", label: 'Пароль' %>
      </div>

      <% if devise_mapping.rememberable? -%>
          <%= f.input :remember_me, as: :boolean, inline_label: 'Запомнить меня' %>
      <% end -%>

      <div class="actions">
        <%= f.button :submit, "Log in", class: 'btn btn-primary' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>