<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Навигация</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <a class="navbar-brand" href="/">Баргузин</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if user_signed_in? %>
        <ul class="nav navbar-nav">
            <li role="presentation" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Справочники <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="<%= users_path %>">Пользователи</a></li>
                <li><a href="<%= goods_path %>">Номенклатура</a></li>
                <li><a href="<%= counterparties_path %>">Контрагенты</a></li>
                <li><a href="<%= groups_counterparties_path %>">Группы контрагентов</a></li>
              </ul>
            </li>
          </ul>
      <% end %>


      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
            <ul class="nav navbar-nav">
              <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                  <%= icon('fa-user') %>
                  <%= current_user.username  %> <span class="caret"></span>
                </a>

                <ul class="dropdown-menu">
                  <li><%= link_to 'Профиль', profile_user_path(current_user.id) %></li>
                  <li><%= link_to 'Выйти', destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
            </ul>
        <% else %>
            <li><%= link_to 'Вход', new_user_session_path, class: "btn btn-default" %></li>
            <li><%= link_to 'Регистрация', new_user_registration_path, class: "btn btn-info" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
