<!DOCTYPE html>
<html>
  <head>
    <title>Barguzin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluide">
      <%= render 'layouts/navbar' %>
    </div>

    <div class="container">
      <% flash.each do |name, message| %>
          <div class="alert alert-<%= name %>">
            <%= message %>
          </div>
      <% end %>

      <%= yield %>

      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
